<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>Lua Cup - Inicio</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="ThemeZaa" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta
      name="description"
      content=""
    />
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/lua-icon.jpg" />
    <link rel="apple-touch-icon" href="images/lua-icon.jpg" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="images/lua-icon.jpg"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="images/lua-icon.jpg"
    />
    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="css/vendors.min.css" />
    <link rel="stylesheet" href="css/icon.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="demos/beauty-salon/beauty-salon.css" />
  </head>
  <body
    data-mobile-nav-trigger-alignment="right"
    data-mobile-nav-style="modern"
    data-mobile-nav-bg-color="#2E3844"
    class="custom-cursor"
  >
  <div class="cursor-page-inner">
    <div class="circle-cursor circle-cursor-inner"></div>
    <div class="circle-cursor circle-cursor-outer"></div>
  </div>
    <!-- start cursor 
    <div class="cursor-page-inner">
      <div class="circle-cursor circle-cursor-inner"></div>
      <div class="circle-cursor circle-cursor-outer"></div>
    </div>
    <!-- end cursor -->

    <!-- start header -->
    <header>
      <!-- start navigation -->
      <nav
        class="navbar navbar-expand-lg header-transparent border-bottom border-color-transparent-white-light disable-fixed bg-light-blue-lua" id="navbar"
      >
        <div class="container-fluid">
          <div class="col-auto col-xxl-2 col-lg-2 me-lg-0 me-auto">
            <a class="navbar-brand" href="/">
              <img
                src="images/vv_lua_logo-horizontal-beige.png"
                data-at2x="images/vv_lua_logo-horizontal-beige.png"
                alt=""
                class="default-logo"
              />
              <img
                src="images/vv_lua_logo-horizontal-beige.png"
                data-at2x="images/vv_lua_logo-horizontal-beige.png"
                alt=""
                class="alt-logo"
              />
              <img
                src="images/vv_lua_logo-horizontal-beige.png"
                data-at2x="images/vv_lua_logo-horizontal-beige.png"
                alt=""
                class="mobile-logo"
              />
            </a>
          </div>
          <div class="col-auto menu-order position-static">
            <button
              class="navbar-toggler float-start"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-line"></span>
              <span class="navbar-toggler-line"></span>
              <span class="navbar-toggler-line"></span>
              <span class="navbar-toggler-line"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="#acerca-de" class="nav-link"
                    >Acerca De</a
                  >
                </li>
                <li class="nav-item">
                  <a href="/blog" class="nav-link"
                    >Blog</a
                  >
                </li>
                <li class="nav-item">
                  <a href="/luacup" class="nav-link"
                    >Compra tu Lúa Cup</a
                  >
                </li>
                <li class="nav-item">
                  <a
                  href="../lua-cup-instructivo.pdf"
                  download="lua-cup-instructivo.pdf"
                  class="nav-link"
                  >Instructivo</a>
                </li>
                <li class="nav-item">
                  <a href="/" class="nav-link"
                    >FAQs</a
                  >
                </li>
                <li class="nav-item">
                  <a href="#faqs" class="nav-link"
                    >FAQs</a
                  >
                </li>
                <li class="nav-item">
                  <a href="#contacto" class="nav-link"
                    >Contacto</a
                  >
                </li>

                <li class="nav-item cart-nav-responsive">
                  <a href="/cart" class="nav-link"
                    >Carrito</a
                  ><i
                  class="fa-solid fa-cart-shopping"
                  style="margin-left: 0px"
                ></i>
                </li>

                <li class="nav-item wpp-nav-responsive">
                  <a href="https://wa.me/5215527373175" class="nav-link" style="color: #00e676;"
                  >WhatsApp</a" class="nav-link" style="color: #00e676;"
                    >WhatsApp</a
                  ><i class="fa-brands fa-whatsapp" style="font-size: 26px; color: #00e676;"></i>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-auto col-xxl-1 col-lg-1 text-end d-none d-sm-flex">
            <div class="header-icon">
              <div class="d-none d-xxl-inline-block me-25px lg-me-0">
                <a
                  href="https://wa.me/5215527373175"
                  class="widget-text text-white-hover fs-17">
                  <i class="fa-brands fa-whatsapp" style="color: #00e676; font-size: 36px;"></i></a
                >
              </div>
              <div class="header-button">
                <a
                  href="/cart"
                  class="btn btn-transparent-white-light btn-round-edge" style="font-size: 26px;"
                  ><i
                    class="fa-solid fa-cart-shopping"
                    style="margin-left: 0px"
                  ></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <!-- end navigation -->
    </header>
    
    <section>
        <div class="container p-5 mt-40px">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="fw-600">Pobreza menstrual</h3>
                </div>
                <div class="col-md-12">
                    <h6>By Cecilia Kalach</h6>
                </div>
                <hr>
            </div>
            <div class="row">
                <img src="../images/cecilia-2.jpeg" alt="">
            </div>
            <div class="row mt-30px">
                <div class="col-md-12">
                    <p class="fw-600">Es un término que suele ser desconocido para muchas personas pero, ¿sabes cómo es que la pobreza afecta a mujeres, niñas, adolescentes en su menstruación?</p>
                </div>
                <div class="col-md-12">
                    <p>Tenía exactamente 12 años 8 meses la primera vez que menstrué. “¡Ya eres toda una mujer!”, como si antes no lo hubiera sido, como si la característica que nos convierte en mujeres es nuestra capacidad de menstruar. Comenzó la vivencia de una experiencia muy personal, muy privada, muy “que nadie vea mis toallas menstruales”, muy “que nadie se vaya a enterar”, muy secreto, mi secreto. Muy “me vino la regla, llegó Andrés, cantó el gallo”, muy “no es de señoritas hablar de eso en público”. Pensé que era natural seguir mi vida con la experiencia menstrual silenciada.</p>
                </div>
                <div class="col-md-12">
                    <p>De pronto, la realidad me alcanzó: empecé a escuchar que muchas señoritas dejan la escuela cuando llega su periodo menstrual; una gran cantidad de nuevas mujeres adquieren infecciones vaginales por no tener acceso a productos menstruales; varias familias mexicanas deben invertir porcentajes importantes de su salario en productos menstruales. De pronto me percaté que había vivido mi vida sin siquiera cuestionarme cómo es que la pobreza afecta la vivencia menstrual de un gran sector poblacional. Me di cuenta de que el silencio alrededor de la menstruación invisibiliza, pero no desaparece, un problema latente: la pobreza menstrual.</p>
                </div>
                <div class="col-md-12">
                    <p>Por lo general, cuando escuchamos “pobreza” solemos pensar en cómo esta se relaciona con el acceso al derecho a la educación, a la alimentación nutritiva, a la vivienda, a los servicios médicos, al agua. Pocas veces nos cuestionamos cómo es que la pobreza afecta la manera en la que miles de mujeres, niñas, adolescentes y personas viven y se relacionan con su menstruación. El término pobreza menstrual suele ser desconocido para muchas personas, no porque sus consecuencias sean menores, sino porque el silencio y los prejuicios alrededor de la menstruación no permiten concebirla como un fenómeno social (y no solamente biológico) que afecta la vida de un enorme sector de la población.</p>
                </div>
                <div class="col-md-12">
                    <p class="fw-600">Y, para todo esto, ¿qué es la pobreza menstrual?</p>
                </div>
                <div class="col-md-12">
                    <p>La ONU la define como la incapacidad para acceder a productos menstruales. Pero, me gustaría preguntarte, ¿te has imaginado lo que implicaría menstruar sin acceso a agua limpia? ¿Te sentirías cómoda cambiando tus toallas en un espacio sin privacidad, sin información suficiente, sin saber exactamente qué es lo qué pasa con tu cuerpo? ¿Sin medicamentos para el dolor? ¿Sin un espacio cómodo y seguro donde descansar? ¿Te imaginas lo que sería no tener acceso a ropa interior para poder colocar tu toalla o que en tu localidad no existan mecanismos de recolección para llevarse la basura que desechas en tu periodo menstrual? ¿Te imaginas qué sucedería si nadie te hubiera hablado de la menstruación antes de tener tu primer periodo? La pobreza menstrual es un fenómeno complejo: es la incapacidad de acceder a todos los recursos materiales e inmateriales necesarios para tener un proceso menstrual digno, seguro y libre de prejuicios.</p>
                </div>
                <div class="col-md-12">
                    <p style="font-style: italic;">“¿Te has imaginado lo que implicaría menstruar sin acceso a agua limpia? ¿Te sentirías cómoda cambiando tus toallas en un espacio sin privacidad, sin información, sin saber qué es lo qué pasa con tu cuerpo?”

                        Cecilia Kalach</p>
                </div>
                <div class="col-md-12">
                    <p>Ahora, cómo es que la pobreza menstrual repercute en la vida diaria de miles de mujeres, niñas y personas mexicanas. Afecta el desempeño escolar de aquellas que deben elegir entre comer o acceder a productos menstruales. De aquellas que acuden a escuelas sin baños en condiciones mínimamente dignas para poder gestionar su menstruación de manera correcta. De aquellas que no cuentan con la información necesaria para entender que la menstruación puede vivirse desde un salón de clases. Afecta el desempeño laboral de aquellas que tienen largas jornadas de trabajo con un padecimiento menstrual no diagnosticado. De aquellas que, al ser las proveedoras del hogar y aun sin productos menstruales, deben acudir al espacio de trabajo con papel, periódico o cartón entre las piernas. Afecta la vida de miles de personas porque no hemos entendido que los espacios públicos deben adecuarse a las necesidades de la población menstruante.</p>
                </div>
                <div class="col-md-12">
                    <p style="font-style: italic;">“¿Por qué decimos “productos de higiene menstrual”?, ¿acaso la menstruación es algo sucio?”

                        Cecilia Kalach</p>
                </div>
                <div class="col-md-12">
                    <p class="fw-800">Esta es una oportunidad para empezar a reflexionar

                    </p>
                </div>
                <div class="col-md-12">
                    <p>¿Por qué en el baño de la oficina hay papel higiénico disponible, pero no productos menstruales? ¿Por qué en la escuela no recibí educación menstrual desvinculada de la reproducción? ¿Por qué no tuve conversaciones abiertas sobre cómo se tiene que ver y a qué tiene que oler mi flujo menstrual? ¿Por qué decimos “productos de higiene menstrual”?, ¿acaso la menstruación es algo sucio? ¿Por qué uso tantos eufemismos para referirme a la menstruación? ¿Por qué la Ley General de Salud reconoce un sinfín de enfermedades, pero ninguna derivada de la menstruación? ¿Por qué los programas de la SEP no introducen un programa de educación menstrual actualizado?</p>
                </div>
                <div class="col-md-12">
                    <p>Si el problema es tan grande y las repercusiones tan avasalladoras ¿por qué seguimos pensando que el paradigma que debe acompañar a la menstruación es el silencio? ¿por qué el Estado no ha desarrollado políticas integrales para revertir la pobreza menstrual? ¿por qué, como sociedad, hemos ignorado las vivencias menstruales en la pobreza? ¿por qué callar cuando se trata de menstruación?.</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="p-0 bg-blue-lua">
        <div class="container">
          <div
            class="row justify-content-center pt-55px pb-55px sm-pt-40px sm-pb-40px"
          >
            <!-- start footer column -->
            <div
              class="col-lg-9 col-md-12 col-sm-6 last-paragraph-no-margin text-center text-sm-start text-md-center text-lg-start md-mb-30px"
            >
              <a href="/" class="footer-logo d-inline-block"
                ><img
                  src="images/vv_lua_logo-horizontal-beige.png"
                  data-at2x="images/vv_lua_logo-horizontal-beige.png"
                  alt=""
              /></a>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
  
            <!-- end footer column -->
            <!-- start footer column -->
            <div
              class="col-lg-3 col-md-4 col-sm-6 last-paragraph-no-margin text-center text-sm-start"
            >
              <span
                class="d-block text-white fs-15 ls-1px mb-10px text-uppercase fw-800"
                >Seguinos</span
              >
              <div class="elements-social social-icon-style-09">
                <ul class="medium-icon light">
                  <li>
                    <a
                      class="facebook"
                      href="https://www.facebook.com/"
                      target="_blank"
                      ><i class="fa-brands fa-facebook-f"></i><span></span
                    ></a>
                  </li>
                  <li>
                    <a
                      class="instagram"
                      href="http://www.instagram.com"
                      target="_blank"
                      ><i class="fa-brands fa-instagram"></i><span></span
                    ></a>
                  </li>
                  <li>
                    <a
                      class="twitter"
                      href="http://www.youtube.com"
                      target="_blank"
                      ><i class="fa-brands fa-youtube"></i><span></span
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end footer column -->
          </div>
        </div>
        <div
          class="pt-20px pb-20px border-top border-color-transparent-white-light"
        >
          <div class="container">
            <div class="row align-items-center">
              <div
                class="col-xxl-8 col-lg-7 text-center text-lg-start md-mb-10px"
              >
                <ul class="footer-navbar fs-16">
                  <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="#acerca-de" class="nav-link"
                      >Acerca De</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="#beneficios" class="nav-link"
                      >Beneficios</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="/luacup" class="nav-link"
                      >Compra tu Lúa Cup</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                    href="../lua-cup-instructivo.pdf"
                    download="lua-cup-instructivo.pdf"
                    class="nav-link"
                    >Instructivo</a>
                  </li>
                  <li class="nav-item">
                    <a href="#faqs" class="nav-link"
                      >FAQs</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="#contacto" class="nav-link"
                      >Contacto</a
                    >
                  </li>
                </ul>
              </div>
              <div
                class="col-xxl-4 col-lg-5 fs-16 last-paragraph-no-margin text-white text-center text-lg-start"
              >
                <p>
                  &copy; 2024 Lúa Cup. Todos los derechos reservados
                 
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <!-- end footer -->
    <!-- start scroll progress -->
    <div class="scroll-progress d-none d-xxl-block">
      <a href="#" class="scroll-top" aria-label="scroll">
        <span class="scroll-text">Scroll</span
        ><span class="scroll-line"><span class="scroll-point"></span></span>
      </a>
    </div>
    <!-- end scroll progress -->
    <!-- javascript libraries -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/vendors.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/product.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      const button = document.querySelectorAll(".btn-add");
      for (let i = 0; i < button.length; i++) {
        button[i].addEventListener("click", (e) => {
          e.preventDefault;
          button[i].classList.add("animate");
          setTimeout(() => {
            button[i].classList.remove("animate");
          }, 600);
        });
      }

      let prevScrollpos = window.pageYOffset;
let isAtTop = true;

window.onscroll = function() {
    let currentScrollPos = window.pageYOffset;
    if (currentScrollPos === 0) {
        isAtTop = true;
    } else {
        isAtTop = false;
    }

    if (!isAtTop && prevScrollpos < currentScrollPos) {
        document.getElementById("navbar").style.top = "-100px"; // Ocultar navbar
    } else {
        document.getElementById("navbar").style.top = "0"; // Mostrar navbar
    }
    prevScrollpos = currentScrollPos;
}
    </script>
  </body>
</html>
